@use 'src/styles/vars';

.addTaskForm {
  margin-bottom: 4rem;

  &__input {
    background-color: vars.$color-dark;
    border: 1px solid vars.$color-darker;
    box-shadow: vars.$input-shadow;
    font-size: 1.5em;
    width: 100%;
    color: vars.$color-light;
    padding: 1em;
    font-weight: bold;

    &:focus {
      box-shadow: vars.$input-shadow-focus;
    }
  
    &::placeholder {
      color: vars.$color-placeholder;
    }
  }
}
